@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* flex container first */
body {
  display: flex;
  flex-direction: column;
  background-color: #eee;
}

/* second flex container */
.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 100px;
  border: 1px solid #000;
  margin: auto;
}
.header-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  background-color: #efe9e3;
}
.header-menu .header {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  /* border: 4px solid #000; */
}
.header-menu .header .logo {
  display: flex;
  flex-direction: row;

  width: 100%;
}
.logo ul {
  list-style: none;
  display: flex;
  flex-basis: 100%;
  align-items: center;
}
.logo ul li img {
  width: 100px;
  height: 70px;
}
.logo ul li h1 {
  font-size: 2.6em;
  font-weight: bolder;
}
.logo ul li h1:hover {
  /* background-color: #d9cfc7; */
  /* border-radius: 10px; */
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: red;
  -webkit-text-stroke-width: 1px;
  cursor: pointer;
  /* text-shadow: 0px 0px 10px #c9b59c, 0px 0px 20px #c9b59c, 0px 0px 40px #c9b59c; */
}
.header-menu .menu {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
}
.menu ul {
  list-style: none;
  display: flex;
  width: 100%;
  /* border: 4px solid #000; */
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
.menu ul li a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.3em;
  padding: 10px;
}
.menu ul li a:hover {
  background-color: #d9cfc7;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #c9b59c, 0px 0px 20px #c9b59c, 0px 0px 40px #c9b59c;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.slider {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 600px;
  margin-top: 5px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.slider img {
  width: 100%;
  height: 600px;
}
.text-info {
  display: flex;
  /* border: 1px solid #000; */
  width: 600px;
  height: 300px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  backdrop-filter: blur(2px);
}
.text-info p {
  font-size: 2.8em;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  color: #32302d;
}
#s {
  font-size: 70px;
  color: black;
  font-weight: bolder;
}
.main-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  min-height: 300px;
  border: 1px solid #000;
  margin-top: 5px;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-basis: 32.5%;
  border: 1px solid lightgray;
  margin-top: 5px;
}
.box img {
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 300px;
  border: 1px solid #000;
  margin-top: 5px;
}
.content .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 100%;
}
.row .desc {
  display: flex;
  flex-direction: column;
  flex-basis: 72%;
}
.row .photo {
  display: flex;
  flex-basis: 26%;
}
.text-heading {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.text-heading ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.text-heading ul li img {
  width: 40px;
  height: 40px;
}
.skills p {
  padding: 10px;
  text-align: justify;
  line-height: 20px;
  font-size: 1.2em;
}
.photo img {
  width: 100%;
}

/* for alternate row code */
.content .row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 100%;
}
.row1 .desc {
  display: flex;
  flex-direction: column;
  flex-basis: 72%;
}
.row1 .photo1 {
  display: flex;
  flex-basis: 26%;
}
.text-heading ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.text-heading ul li img {
  width: 40px;
  height: 40px;
}
.skills p {
  padding: 10px;
  text-align: justify;
  line-height: 20px;
  font-size: 1.2em;
}
.photo1 img {
  width: 100%;
}
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 200px;
  background-color: #636874;
  margin-top: 5px;
}
.other-link {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 100px;
}
.other-link .col {
  display: flex;
  flex-direction: column;

  flex-basis: 25%;
}
.other-link .col1 {
  display: flex;
  flex-direction: column;
  text-align: justify;
  flex-basis: 50%;
}
.col1 h2 {
  padding: 10px;
  color: white;
}
.col1 p {
  padding: 10px;
  color: white;
  font-size: 1.1em;
}
.col h3 {
  color: white;
  padding: 10px;
}
.col ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.col ul li {
  padding: 5px;
}
.col ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #3d3f4b;
}
.copyright p {
  color: white;
  font-size: 1.1em;
}
